.works-container {
  position: relative;
  height: 100vh;
  top: -1px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
}

.items-container {
  padding-right: 10%;
  padding-left: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}