.items-container {
  padding-block: 190px;
  padding-right: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  width: 100%;
  scrollbar-width: none;
  opacity: 0;
}

.item {
  position: relative;
  padding-block: 20px;
  padding-left: 10px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  transition: .4s ease-out;
}
.item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
}
.item::before {
  content: '';
  position: absolute;
  bottom: -1;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: white;
}
.item:hover {
  color: var(--foreground);
  background-color: var(--color-gray);
  transition: .1s ease-in;
  mix-blend-mode: difference;
}

.date {
  flex-shrink: 1;
  min-width: 100px;
}
.title {
  flex-grow: 7;
}
.type {
  flex-grow: 0;
}