.nav-options {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  gap: var(--gap-medium);
  font-size: var(--fs-nav-options);
  font-family: var(--font-inter);
  font-weight: 400;
  overflow: hidden;
}
.nav-option {
  position: relative;
  width: fit-content;
  cursor: pointer;
  list-style-type: none;
  background-color: var(--background);
}
.nav-item {
  color: inherit;
  text-decoration: none;
}

