:root {
  --background: #F0ECEB;
  --foreground: #1c1b22;

  color: var(--foreground);
  background-color: var(--background);

  --color-gray: #e2dedc79;

  --fs-header: 64px;
  --fs-nav-options: 20px;
  --fs-body: 18px;

  --font-inter: "Inter";
  --font-schibstedGrotesk: "Schibsted-Grotesk";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1b22;
    --foreground: #F0ECEB;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: var(--font-schibstedGrotesk);
}

p {
  font-family: var(--font-schibstedGrotesk);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes lineGrow {
  from {
    transform: scaleX(0);
    width: 100%;
  }
  to {
    transform: scaleX(1);
    width: 100%
  }
}

@keyframes lineShrink {
  from {
    transform: scaleX(1);
    width: 100%;
  }
  to {
    transform: scaleX(0);
    width: 100%
  }
}