.page-container {
  padding-left: 10%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.nav-container {
  padding-top: 100px;
  width: 300px;
}
.nav-header {
  font-size: var(--fs-header);
  font-family: var(--font-inter);
  font-weight: 700;
}
.nav-options {
  padding-top: 25px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: var(--fs-nav-options);
  font-family: var(--font-inter);
  font-weight: 400;
  list-style-type: none;
}
.nav-option {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.option-line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
  top: 50%;
  right: calc(-100% + -10px);
  transform: translateY(-50%);
}