.about-container {
  position: relative;
  height: 100vh;
  top: -1px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
}

.sections-wrapper {
  padding-left: 8%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.section-block {
  padding: var(--spacing-32);
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-32);
  width: 100%;
  max-width: 900px;
}

.section-label {
  width: 150px;
}
.section-info {
  width: clamp(500px, 100%, 600px);
}
.section-info > ul {
  padding-left: 1rem;
}

@media (width < 600px) {
  .sections-wrapper {
    padding-left: 0px;
  }
  .section-block {
    flex-direction: column;
    gap: var(--spacing-16);
  }
  .section-label {
    width: 100%;
  }
  .section-info {
    width: 100%;
  }
}