.main-container {
  flex-grow: 1;
  position: relative;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-container {
  border-top: 1px solid var(--foreground);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--background);
}

.footer-items {
  padding-right: calc(5% - 10px);
  display: flex;
  gap: var(--spacing-32);
  justify-content: end;
}
.footer-items > * {
  color: inherit;
  text-decoration: none;
}